In [2]:
import pandas as pd

In [61]:
train = pd.read_json("./speechBSD/train.json")
test = pd.read_json("./speechBSD/test.json")
dev = pd.read_json("./speechBSD/dev.json")

train_cols = len(train)
test_cols = len(test)
dev_cols = len(dev)
train.en_spk_state.value_counts()

CA    7516
VA    4997
OH    1527
MI    1480
CO    1325
IL    1194
FL     822
OR     432
GA     373
MA     155
KY     140
SC      33
IA       6
Name: en_spk_state, dtype: int64

In [79]:
l = [1,2]
ll = [1,3]
lll = [a == b for a,b in zip(l,ll)]
lll.count(True)

1

In [64]:
train_distribution = train.en_spk_state.value_counts().values
train_distribution = [x*100/train_cols for x in train_distribution]
df = pd.DataFrame(columns=["State", "Train"])
df['State'] = train.en_spk_state.value_counts().index
df['Train'] = train_distribution
df

   State   Train
0     CA  37.580
1     VA  24.985
2     OH   7.635
3     MI   7.400
4     CO   6.625
5     IL   5.970
6     FL   4.110
7     OR   2.160
8     GA   1.865
9     MA   0.775
10    KY   0.700
11    SC   0.165
12    IA   0.030

In [65]:
df1 = pd.DataFrame(columns=["State", "Test"])
df1['State'] = test.en_spk_state.value_counts().index
df1['Test'] = test_distribution
df1

   State       Test
0     CA  34.433962
1     VA  23.301887
2     CO   8.584906
3     MI   7.735849
4     OH   6.792453
5     IL   6.650943
6     FL   5.235849
7     OR   2.028302
8     MA   1.933962
9     KY   1.792453
10    GA   1.509434

In [66]:
df2 = pd.DataFrame(columns=["State", "Dev"])
df2['State'] = dev.en_spk_state.value_counts().index
df2['Dev'] = dev_distribution
df2

   State        Dev
0     CA  44.417357
1     VA  26.523647
2     OH   7.069722
3     MI   6.923452
4     IL   4.388103
5     FL   3.607996
6     CO   3.607996
7     OR   1.462701
8     MA   0.828864
9     KY   0.633837
10    GA   0.536324

In [77]:
df_temp = df.join(df1.set_index('State'), on="State")
df3 = df_temp.join(df2.set_index('State'), on="State")
df3

   State   Train       Test        Dev
0     CA  37.580  34.433962  44.417357
1     VA  24.985  23.301887  26.523647
2     OH   7.635   6.792453   7.069722
3     MI   7.400   7.735849   6.923452
4     CO   6.625   8.584906   3.607996
5     IL   5.970   6.650943   4.388103
6     FL   4.110   5.235849   3.607996
7     OR   2.160   2.028302   1.462701
8     GA   1.865   1.509434   0.536324
9     MA   0.775   1.933962   0.828864
10    KY   0.700   1.792453   0.633837
11    SC   0.165        NaN        NaN
12    IA   0.030        NaN        NaN

In [46]:
arr_train = train.en_spk_state.unique()
arr_test = test.en_spk_state.unique()
arr_test

array(['MA', 'KY', 'VA', 'CO', 'CA', 'IL', 'MI', 'OR', 'OH', 'GA', 'FL'],
      dtype=object)

In [31]:
test_distribution = test.en_spk_state.value_counts()
test_distribution = [x*100/test_cols for x in test_distribution]
test_distribution

[34.43396226415094,
 23.30188679245283,
 8.584905660377359,
 7.735849056603773,
 6.7924528301886795,
 6.650943396226415,
 5.235849056603773,
 2.0283018867924527,
 1.9339622641509433,
 1.7924528301886793,
 1.509433962264151]

In [32]:
dev_distribution = dev.en_spk_state.value_counts()
dev_distribution = [x*100/dev_cols for x in dev_distribution]
dev_distribution

[44.41735738664066,
 26.523647001462702,
 7.069722086786933,
 6.923451974646514,
 4.388103364212579,
 3.6079960994636764,
 3.6079960994636764,
 1.4627011214041932,
 0.8288639687957094,
 0.6338371526084836,
 0.5363237445148707]

In [44]:
df = pd.DataFrame()
df['States'] = train.en_spk_state.unique()
df['Train'] = train_distribution
df['Test'] = test_distribution
df['Dev'] = dev_distribution
df

ValueError: Length of values (11) does not match length of index (13)

In [36]:
train = pd.read_json("./speechBSD/txt/train.json")
test = pd.read_json("./speechBSD/txt/test.json")
dev = pd.read_json("./speechBSD/txt/dev.json")

train.tag.value_counts()

face-to-face conversation    225
phone call                   143
general chatting             133
meeting                      114
training                      31
presentation                  24
Name: tag, dtype: int64

In [37]:
dev.tag.value_counts()

face-to-face conversation    23
general chatting             15
meeting                      14
phone call                   13
training                      2
presentation                  2
Name: tag, dtype: int64

In [38]:
test.tag.value_counts()

face-to-face conversation    23
general chatting             15
meeting                      14
phone call                   13
training                      2
presentation                  2
Name: tag, dtype: int64